body {
    width: 1300px;
    height: 900px;
    background-color: #c7c7c7;
}

#aboutus {
    margin-top: 140px;
    margin-left: 120px;
    font-size: 40px;

}


#team {
    width: 1300px;
}











@keyframes slide-left {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

/*avery about me section*/
#aver{
  height:250px;
  width: 250px;
}
#Avery {
    margin-left: 120px;
    width: 250px;
        animation: slide-left 6s;
}

#aboutA {
    width: 250px;
}



/*conor about me section*/
#conor {
    width: 250px;
    margin-left: 120px;
    animation: slide-left 6s;
}

#aboutc {
    width: 250px;
}

#con{
  height:250px;
  width: 250px
}
/*sugey about section*/


#sugey {
  width: 250px;
  animation: slide-left 10s;
}


#sue{
  height:250px;
  width: 250px
}
#abouts {
  width: 250px;
  font-size: 18px;
}

#suev{
  font-family: 'Lobster', cursive;
  color: blue;
  font-size: 24px;
}

/*erick about section*/

#erick {
  width: 250px;
  animation: slide-left 10s;
}

#aboute {
  width: 250px;
  font-size: 18px;
}

#eric{
  height:250px;
  width: 250px
}
#ericn{
  font: helvetica;
  font-size: 24px;
  color: teal;
}

/*sections*/
#top {
    padding-top: 160px;
    width: 400px;
    margin-left: 200px;
    float: left;
}

#bottom {
    padding-top: 160px;
    width: 400px;
    float: right;
    margin-right: 200px;
}
