html body {
  background-color: #C7C7C7;
}

body {
  width: 99%;
  margin: 0 auto;
}

header {
  background-color: #161616;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
}
section {
  width: 75%;
  height: 85%;
  margin: auto;
  background-color: #161616;
  color: white;
}

button {
  background-color: #161616;
  color: white;
  width: 35%;
  border-radius: 25px;
  font-size: 2.5em;
  margin: auto;
  clear: both;
  position: absolute;
  left: 38%;
  bottom: 10%;
}

#nav {
  list-style-type: none;
  display: inline;
  float: right;
  font: sans-serif;
  color: white;
  margin-right: 9%;
  margin-top: 2%;
  width: 20%;
  font-size: 19px;
}

#nav li {
  display: inline;
}

#nav li a {
  text-decoration: none;
  color: white;
}

#secondnavitem {
  margin-left: 5%;
  /*padding-right: 1%;*/
}

#title {
  font-size: 30pt;
  position: fixed;
  left: 2%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
